# Ignore large executable files that trigger false positives
windows/enumeration/winPEASx64.exe
windows/enumeration/winPEAS.ps1

# Ignore other problematic files
windows/attacking/pypykatz.exe
windows/attacking/LaZagne.exe
windows/attacking/SafetyKatz.exe
windows/attacking/SharpKatz.exe
windows/attacking/BetterSafetyKatz.exe

# Allow specific smaller executables
!windows/attacking/nc64.exe
!windows/attacking/Rubeus.exe
!windows/attacking/RunasCs.exe
!windows/enumeration/accesschk64.exe
!windows/enumeration/procexp64.exe
